{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.9.6/dijit/themes/claro/claro.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.10.3/dojo/dojo.js"></script>
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">

</head>
<body>
<div class="container-fluid h-100">

    <div class="row justify-content-center h-100 " style="width: 900px; height: 900px;">
        <div class="col-md-8 col-xl-3 chat h-100 mt-4" style="width: 900px; height: 900px;">
            <div class="card-body contacts_body" style="width: 900px; height: 900px;">
                <div class="card">
                    <div class="card-header msg_head">
                        <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                             class="rounded-circle user_img_msg" style="width: 400px; height: 400px;">
                        <div style="text-align: center"><br><br>
                            <h2> Hello {{ user.first_name }} {{ user.last_name }}</h2>
                        </div>
                    </div>
                    <div>
                        <form action="" method="post">
                            {% csrf_token %}
                            <div>
                                {% for message in messages %}
                                    <h3 style="color: black"> {{ message }} </h3>
                                {% endfor %}
                            </div>
                            <h4>Change username </h4>
                            <label>Enter new username : </label>
                            <input type="text" name="username">
                            <h4>Change password </h4>
                            <label for="">Enter your password : </label>
                            <input type="password" name="old_password">
                            <br>
                            <label for="">Enter new password : </label>
                            <input type="password" name="new_password">

                            <div>
                                <input type="submit" value="Change">

                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>