{% load static %}

<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>WHISPER</title>

    <!--  Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
<div class="container">
    <div class="forms">
        <div class="form-content">
            <div class="title">Signup</div>
            <form action="" method="post">
                {% csrf_token %}

                <div class="input-boxes">
                    <div>
                        {% for message in messages %}
                            <h3 style="color: rebeccapurple"> {{ message }} </h3>
                        {% endfor %}
                    </div>
                    <div class="input-box">
                        <i class="fas fa-user"></i>
                        <input type="text" name="name" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-user"></i>
                        <input type="text" name="surname" placeholder="Enter your surname" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="text" name="email" placeholder="Enter your  email" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password1" placeholder="Enter your password" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password2" placeholder="Enter your password" required>
                    </div>
                    <div class="button input-box">
                        <input type="submit" value="Submit">
                    </div>
                    <div class="text sign-up-text">Already have an account? <label for="flip"><a href="{{ BASE_DIR }}/login">Login Now</a></label>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>